.line {
    background-color: teal;
    height: 3px;
    margin-top: 3rem;
}
.icon {
    width: 30px;
    height: 30px;
}
.a-none a {
    text-decoration: none;
    color: black;
}
.img-cover {
    object-fit: cover;
    height: 10rem;
}
.h-80 {
    height: 20rem;
}
.footer {
    color:white;
}
@media (min-width:992px) {
    .line-none {
        border: 0px !important;
    }
}